    #main-game-continer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }

    #main-game-continer * {
        z-index: 10;
        touch-action: none;
    }

    #inner-continer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #left-side {
        display: flex;
    }

    #drop-zone {
        width: 170px;
        height: 170px;
        border-radius: 50%;
        border: 3px solid cyan;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    #drag-zone {
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    #dragble-ele {
        width: 130px;
        margin: 5px;
    }

    #tarining-header {
        font-size: 1.3rem;
        margin: 5px;
        font-weight: 700;
        text-align: center;
    }


    @media (min-width:768px) {
        #drop-zone {
            width: 250px;
            height: 250px;
        }

        #dragble-ele {
            width: 160px;

        }

    }

    @media (min-width:1024px) {
        #left-side {
            flex-direction: row;
        }

        #inner-continer {
            flex-direction: row;
        }
    }